<div class="nav-bar">
    <h1><%= @cocktail.name %></h1>
    <%= link_to 'back to home', cocktails_path, class: "btn btn-primary add-link" %>
</div>
<div class="containe">
<ul>
    <% @cocktail.doses.each do |dose| %>
    <li>
        <%= "#{dose.ingredient.name} -- #{dose.description}" %>
        <%= link_to 'Del', cocktail_path(@cocktail),
        method: :delete,
        data: { confirm: "are you sure?"} %>
    </li>
    <% end %>
</ul>
</div>
<div class="foot">
    <%= link_to 'add an ingredient', new_cocktail_dose_path(@cocktail), class:'btn btn-primary'%>
    <%= link_to "Delete", cocktail_path(@cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" },class:'btn btn-primary' %>
</div>